.login-container {
  width: 70%;
  margin: 3rem auto 0 auto;
  background-color: aliceblue;
  text-align: center;
  padding-bottom: 0.05rem;
  box-shadow: 1px 1px 1px 12px rgba(241, 241, 241, 0.933);
  border-radius: 4px;
}

.login-inputs {
  margin: 0.5rem 0;
}

.login-inputs > input {
  padding: 0.3rem;
  margin-bottom: 1.5rem;
  width: 60%;
  margin-inline: auto;
  border-radius: 4px;
}

.login-submit {
  display: block;
  width: 100%;
}

.login-submit > input {
  padding: 0.2rem;
  margin-bottom: 1.5rem;
  width: 60%;
  margin-inline: auto;
  background-color: black;
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .login-container {
    width: 90%;
    margin-inline: auto;
    box-shadow: 1px 1px 1px 6px rgba(241, 241, 241, 0.933);
  }

  .login-inputs > input {
    width: 80%;
    margin-inline: auto;
    padding: 0.4rem;
    margin-bottom: 0.3rem;
  }
}
