.addNewProduct-container {
  width: 70%;
  box-shadow: 1px 1px 1px 12px rgba(207, 205, 205, 0.473);
  border-radius: 4px;
  background-color: rgb(105, 185, 254);
  padding: 000.1rem 0;
  margin: 2rem auto;
}

.addNewProduct-form {
  width: 100%;
}

.addNewProduct-form > div {
  margin: 0.8rem 0;
  width: 70%;

  margin-inline: auto;
}

.addNewProduct-form > div > div {
  padding: 0 0.5rem;
}

.addNewProduct-form > div > input,
textarea {
  padding: 0.5rem;
  background-color: rgb(240, 234, 234);
  border-radius: 3px;
  width: 100%;
}

/* submit button */
.addNewProduct-form > div > input[type="submit"] {
  background-color: black;
  color: white;
}
